<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Table</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p id="total_pages" style="display: none;" th:text="${totalPages}"></p>

    <div class="content">
        <form class="request_handler"  th:action="@{/user-home}" method="GET">
            <input class="firstname_input" placeholder="firstname" type="text" name="first-name" th:value="${firstName}">
            <input class="lastname_input" placeholder="lastname" type="text" name="last-name" th:value="${lastName}">
            <input class="email_input" placeholder="email" type="text" name="email" th:value="${email}">
            <input id="page_input" type="hidden" name="page" th:value="${page}">
            <input id="size_input" type="hidden" name="size" th:value="${size}">
            <button class="sender">Отправить</button>
        </form>
        <table class="users">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                </tr>
            </tbody>
        </table>
        <div class="slider">
            <button class="slide_btn" id="slide_back">Предыдущая</button>
            <p id="page_number" th:text="${page}"></p>
            <button class="slide_btn" id="slide_next">Следующая</button>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>